*,
*::after,
*::before{
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #252525;
}





@media(max-width: 1200px){
    .catalog__inner{
        grid-template-columns: repeat(3,1fr);
        
    }
    .catalog__item{
        margin: 0 auto;
    }
    .slick-list{
        padding-bottom: 30px;
    }
    .info__item{
        margin: 0 auto;
    }

}
@media(max-width: 1111px){
     .tovar__img{
         margin: 0 auto;
     }
     .tovar__inner{

     }
     .tovar_table{
        max-width: 450px;
    
     }
     .tovar__descr-name{
         text-align: center;
         margin-top: 30px;
     }
     .tovar__text{
         margin: 0 auto;
     }
}


@media(max-width: 1080px){
   
    .priclad {
        display: block;
        width: 100%;
    }
}

@media(max-width: 968px){
    .tel__number{
        display: none;
    }
    .catalog__inner{
        grid-template-columns: repeat(2,1fr);
        
    }
    .footer__inner{
        display: block;
        text-align: center;
    }
    .footer__item + .footer__item{
        margin-left: 0;
    }
    .footer__logo{
    margin-right: 0;

    }
    .footer__menu{
        margin-top: 54px;
    }
    .footer__list{
        display: block;
        text-align: center;
    }
    .footer__item{
   padding-bottom: 32px;
    }
    .footer{
        min-height: 500px;
    }
    .footer__inner{
        padding: 66px 0;
    }
}


@media(max-width: 825px){
     .slider__img{
         position: absolute;
         top: -9999px;
     }
     .slider__img__small{
         position: static;
     }
     .contacts__inner{
         flex-wrap: wrap;
         text-align: center;
     }
     .contacts__adres,
     .form{
         margin: 0 auto;
     }
     .contacts__title::after {
         left: 145px;
     }
     .form__inner{
         flex-wrap: wrap;
         text-align: center;
     }
     .personal__agree{
         margin: 0 auto;
         margin-bottom: 24px;
     }
.send__form{
width: 100%;
  margin: 0 auto;
}
.form__btn-send{
    width: 100%;
}
.contacts{
    padding: 50px 0;
}
.cart__size{
    height: 500px;
}
}

@media(max-width: 786px){
   .header__contacts-descr,
   .header__contacts-mail,
   .priclad,
   .header__logo-descr{
       display: none;
   }
   .header__logo-img{
       display: none;
   }
   .header__logo-mobile{
       display: block;
   }
   .header{
    height: 46px;
    padding-bottom: 120px;
   }
   .header__inner{
       position: relative;
       padding-top: 6px;
   }
   .header__contacts-tel{
       margin-bottom: 0;
   }
   .contacts__img-svg{
    padding-right: 60px;
    margin-top: 8px;
   }
   .header__search-box{
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
   }
   .header__contacts{
       position: relative;
   }
   .menu__btn{
       display: block;
       width: 60px;
       height: 46px;
       background-color: #686868;
       border: none;
       position: absolute;
       top: -7px;
       right: -10px;
       cursor: pointer;
   }
   .menu__draw-1,
   .menu__draw-2,
   .menu__draw-3{
       width: 29px;
       height: 2px;
       background-color: #fff;
       z-index: 10;
       position: absolute;
       right: 13px;
   }
   .menu__draw-1{
       top: 10px;
   }
   .menu__draw-2{
    top: 20px;
   }
   .menu__draw-3{
    top: 30px;
   }
  .menu__block{
      width: 90%;
      min-height: 500px;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  .menu__items{
      display: block;
      
  }
  .menu__items + .menu__items {
    margin-left: 0;
}
.menu {
    text-align: center;
    
}
.menu__link{
    padding-bottom: 31px;
}
.menu__items--active a:after {
    display: none;
}
.menu__block{
    transform: translateX(-950px);
    transition: all .5s;
    position: absolute;
}

.menu__block.open-menu{
    transform: translateX(0);
    background-color: #fff;
    z-index: 10;
}
.slider{
   position: relative; 

}
.open-menu{
    transition: all .5s;
 }



.slider::after{
   content: '';
   transition: all .5s;
   width: 100%;
   height: 100%;
   background-color: rgb(0%, 0%, 0%, 0.8);
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   display: none;
 }
.slider.open-menu::after{
   display: block;
 }

.slider__box{
    display: block;
 }
.slider__haracteristyk{
 display: none;
  }
 .slider__img__small{
    margin: 0 auto;
    padding-bottom: 20px;
 }
  .slider__title{
    font-size: 20px;
    line-height: 23px;
    width: 241px;
 }
 .catalog__name{
    font-size: 24px;
    line-height: 28px;
 }
 .catalog__name::after{
     top: 38px;
 }
 .info__inner{
     padding: 50px 0;
 }
 .tovar__title{
    font-size: 24px;
    line-height: 28px;
 }
}


@media(max-width: 580px){
    .card__img{
        width: 168px;
        height: 218px;
    }
    .catalog__link{
        height: 218px;
    }
    .card__name{
        font-size: 16px;
        line-height: 19px;
    }
    .catalog__title {
        padding: 37px 0 60px;
    }
    .catalog {
        padding-bottom: 50px;
    }
    .tovar__img{
        padding: 30px;
        margin: 0 auto;
    }
}


@media(max-width: 415px){
    .catalog__inner{
        grid-gap: 10px;
    }
    .catalog__inner{
        grid-template-columns: repeat(1,1fr);
        grid-gap: 20px;
    }
    .card__img{
        width: 255px;
        height: 330px;
    }
    .catalog__link{
        height: 330px;
    }
    .catalog__name {
        width: 265px;
    }
    .tovar__img{
        padding: 10px;
    }
}

@media(max-width: 375px){
    .menu {
        text-align: left;
        padding-left: 36px;
    }
    .tovar__img{
        padding: 5px;
    }
    .tovar__img_png{
        width: 250px;
    }
    .tovar_table {
        font-size: 16px;
    }
}
